# MacOS specific
{{ if ne .chezmoi.os "darwin" }}
Library
.zshenv
.config/zsh
.config/amethyst
.config/alacritty.yml
{{ end }}

# Windows specific
{{ if ne .chezmoi.os "windows" }}
AppData
{{ end }}
{{ if eq .chezmoi.os "windows" }}
.config
.ssh
{{ end }}
