# MacOS specific
{{ if ne .chezmoi.os "darwin" }}
Library
.config/amethyst
.config/karabiner
{{ end }}

{{ if eq .chezmoi.os "darwin" }}
.config/mimeapps.list
.config/sway
.config/sworkstyle
.config/waybar
.config/kanshi
.config/foot
.config/flatpak
.config/swaync

## Scripts
.chezmoiscripts/linux/05-my-flatpak-install.sh
{{ end }}

###################################

# Windows specific
{{ if ne .chezmoi.os "windows" }}
.chezmoiscripts/windows/**
AppData
.config/scoop
OneDrive - Great National Hotels/**
{{ end }}

{{ if eq .chezmoi.os "windows" }}
.chezmoiscripts/linux/**
.config/*
!.config/nvim
!.config/scoop
!.config/git
!.config/lazygit
.local
.ssh
.zshenv
{{ end }}
