# easier to keep the nvim as exact
.config/nvim/lua/.luarc.json

# MacOS specific
{{ if ne .chezmoi.os "darwin" }}
Library
.config/amethyst
.config/karabiner
.config/alacritty.yml
.config/Code
{{ end }}

{{ if eq .chezmoi.os "darwin" }}
.config/mimeapps.list
.config/sway
.config/sworkstyle
.config/waybar
.config/kanshi
.config/Code
.config/Code - OSS
{{ end }}

###################################

# Windows specific
{{ if ne .chezmoi.os "windows" }}
.chezmoiscripts/windows/**
AppData
.config/scoop
OneDrive - Great National Hotels/**
{{ end }}

{{ if eq .chezmoi.os "windows" }}
.chezmoiscripts/linux/**
.config/*
!.config/nvim
!.config/scoop
!.config/git
!.config/lazygit
.ssh
.zshenv
{{ end }}
