# MacOS specific
{{ if ne .chezmoi.os "darwin" }}
Library
.config/amethyst
.config/karabiner
.config/alacritty.yml
{{ end }}

# Windows specific
{{ if ne .chezmoi.os "windows" }}
AppData
.config/scoop
{{ end }}
{{ if eq .chezmoi.os "windows" }}
.config/*
!.config/nvim
!.config/scoop
.ssh
.zshenv
{{ end }}
