# See if this actually does something
# skip_global_compinit=1

# XDG configs
export XDG_CACHE_HOME="$HOME/.cache"
export XDG_CONFIG_HOME="$HOME/.config"
export XDG_DATA_HOME="$HOME/.local/share"
{{- if (or (eq (env "XDG_RUNTIME_DIR") "") (ne (env "XDG_RUNTIME_DIR") "$HOME/.run")) }}
export XDG_RUNTIME_DIR="$HOME/.run"
mkdir -p -m 0700 $HOME/.run
{{- end }}

# Wakatime
export WAKATIME_HOME="$HOME/.config/wakatime"

# Any additional .zsh files should be stored in .config
export ZDOTDIR="$HOME/.config/zsh"

# Lastpass-cli never quit
export LPASS_AGENT_TIMEOUT=0

# Add cargo binaries to PATH
export PATH="$HOME/.cargo/bin:$PATH"

############################################
# Machine specific handled through chezmoi #
############################################
{{ if eq .chezmoi.os "darwin" }}
export HOMEBREW_BUNDLE_FILE="$HOME/.config/homebrew/Brewfile_{{ output "scutil" "--get" "ComputerName" | trim }}"

# Adds Homebrew to PATH
eval "$(/usr/local/bin/brew shellenv)"
{{- else if eq .chezmoi.os "linux" }}
export HOMEBREW_BUNDLE_FILE="$HOME/.config/homebrew/Brewfile_{{ .chezmoi.hostname }}"

# Adds Homebrew to PATH
eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
{{- end }}
