/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */

/* import css definitions for current theme */

/* -----------------------------------------------------------------------------
 * Keyframes
 * -------------------------------------------------------------------------- */

@keyframes blink-warning {
  70% {
    color: @wm_icon_bg;
  }

  to {
    color: @wm_icon_bg;
    background-color: @warning_color;
  }
}

@keyframes blink-critical {
  70% {
    color: @wm_icon_bg;
  }

  to {
    color: @wm_icon_bg;
    background-color: @error_color;
  }
}

/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

/* Reset all styles */
* {
  border: none;
  border-radius: 0;
  min-height: 0;
  margin: 0;
  padding: 0;
    border-radius: 20px;
    transition: none;
  font-family: "RobotoMono Nerd Font", "Roboto Mono", sans-serif;
}

/* The whole bar */
window#waybar {
  background: @theme_bg_color;
  color: @wm_icon_bg;
  font-size: 14px;
    border-radius: 0px;
}

/* Each module */
#custom-pacman,
#custom-github,
#custom-clipboard,
#custom-notifications,
#bluetooth,
#battery,
#clock,
#cpu,
#memory,
#mode,
#network,
#pulseaudio,
#temperature,
#idle_inhibitor,
#backlight,
#custom-playerctl,
#tray {
  padding-left: 10px;
  padding-right: 10px;
}

/* -----------------------------------------------------------------------------
 * Module styles
 * -------------------------------------------------------------------------- */

#clock {
  color: @theme_bg_color;
  background-color: @theme_selected_bg_color;
  font-weight: bold;
    margin-right: 10px;
    margin-left: 10px;
}

#battery {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#battery.warning {
  color: @warning_color;
}

#battery.critical {
  color: @error_color;
}

#battery.warning.discharging {
  animation-name: blink-warning;
  animation-duration: 3s;
}

#battery.critical.discharging {
  animation-name: blink-critical;
  animation-duration: 2s;
}

#cpu.warning {
  color: @warning_color;
}

#cpu.critical {
  color: @error_color;
}

#memory {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#memory.warning {
  color: @warning_color;
}

#memory.critical {
  color: @error_color;
  animation-name: blink-critical;
  animation-duration: 2s;
}

#mode {
  background: @background_color;
}

#network.disconnected {
  color: @warning_color;
}

#pulseaudio.muted {
  color: @warning_color;
}

#temperature.critical {
  color: @error_color;
}

#workspaces {
    border-radius: 20px;
    margin-left: 10px;
        padding-left: 10px;
        padding-right: 10px;
  background-color: @unfocused_insensitive_color;
}

#workspaces button {
  border: 2px solid transparent;
  padding-top: 2px;
  padding-bottom: 2px;
        padding-left: 10px;
        padding-right: 10px;
  color: @theme_bg_color;
}

#workspaces button.focused {
  border-color: @theme_bg_color;
  background-color: @theme_selected_bg_color;
    color: @theme_selected_fg_color;
    font-weight: bold;
}

#workspaces button.urgent {
  border-color: @error_color;
  color: @error_color;
}

#custom-pacman {
  color: @warning_color;
}

#bluetooth.disabled {
  color: @warning_color;
}

#custom-wf-recorder {
  color: @error_color;
  padding-right: 10px;
}
