#!/bin/bash

echo "----- start: brew-bundle-basics.sh -----"

if [[ -e $HOME/.config/homebrew/Brewfile_Basics ]]; then
    echo "Installing  homebrew basics..."
    brew bundle --no-upgrade --file $HOME/.config/homebrew/Brewfile_Basics
    echo "Done installing homebrew basics basics"
else
    echo "HOMEBREW_BUNDLE_FILE isn't set, impossible to generate Brewfile"
fi

echo "----- end: brew-bundle-basics.sh -----"
echo "Running chezmoi apply..."
