#!/bin/bash

echo "----- start: generate-brewfile.sh -----"

if [[ -n $HOMEBREW_BUNDLE_FILE ]]; then
    echo "Generating Brewfile..."
    brew bundle dump --force --describe
    # echo "Adding Brewfile to chezmoi..."
    # chezmoi add $HOMEBREW_BUNDLE_FILE
else
    echo "HOMEBREW_BUNDLE_FILE isn't set, impossible to generate Brewfile"
fi

echo "----- end: generate-brewfile.sh -----"
