
Host revanista.github.com
    HostName github.com
    User git
    AddKeysToAgent yes
{{- if eq .chezmoi.os "darwin" }}
    UseKeychain yes # Required if IdentifyFile uses a passphrase
{{- end }}
    IdentityFile ~/.ssh/github-revanista
Host agoodshort.github.com
    HostName github.com
    User git
    AddKeysToAgent yes
{{- if eq .chezmoi.os "darwin" }}
    UseKeychain yes # Required if IdentifyFile uses a passphrase
{{- end }}
    IdentityFile ~/.ssh/github-agoodshort
