{{ if eq .chezmoi.os "darwin" -}}

Host revanista.github.com
    HostName github.com
    User git
    AddKeysToAgent yes
    UseKeychain yes # Required if IdentifyFile uses a passphrase
    IdentityFile ~/.ssh/github-revanista
Host agoodshort.github.com
    HostName github.com
    User git
    AddKeysToAgent yes
    UseKeychain yes # Required if IdentifyFile uses a passphrase
    IdentityFile ~/.ssh/github-agoodshort

{{- else if eq .chezmoi.os "linux" -}}

Host github.com
    AddKeysToAgent yes
    IdentityFile ~/.ssh/id_ed25519_wsl_ubuntu

{{- end -}}
