#!/bin/bash

# Brewfile_Basics.tmpl hash: {{ include "dot_config/exact_homebrew/Brewfile_Basics.tmpl" | sha256sum }}

echo "----- start: brew-bundle-basics.sh -----"

if [[ -e $HOME/.config/homebrew/Brewfile_Basics ]]; then
    echo "Installing homebrew basics..."
    brew bundle --no-upgrade --file $HOME/.config/homebrew/Brewfile_Basics
    echo "Done installing homebrew basics"
else
    echo "No Brewfile_Basics found, impossible to install homebrew basics"
fi

echo "Generating machine specific Brewfile..."
if [[ -n $HOMEBREW_BUNDLE_FILE ]]; then
    brew bundle dump --force --describe
else
    echo "Impossible to generate Brewfile, HOMEBREW_BUNDLE_FILE isn't set"
fi

echo "----- end: brew-bundle-basics.sh -----"
