#!/bin/bash

# lazy-lock.json hash: {{ include "dot_config/exact_nvim/lazy-lock.json" | sha256sum }}

echo "----- start: nvim-update.sh -----"

if [[ -e $HOME/.config/nvim/lazy-lock.json ]]; then
    echo "Updating Neovim plugins to the state in the lockfile..."
    if [[ -x "$(command -v npm)" ]]; then
        nvim --headless "+Lazy! restore" +qa
        echo "Done updating Neovim plugins"
    else
        echo "npm is not installed. npm is required by Mason"
    fi
else
    echo "lazy-lock.json does not exist, impossible to update"
fi

echo "----- end: nvim-update.sh -----"
