#!/bin/bash

# homebrew.zsh hash: {{ include "dot_config/zsh/homebrew.zsh" | sha256sum }}

echo "----- run: reminder-zsh-homebrew-sourcing.sh -----"

chezmoi_warnings+=("/!\ Run \`source $XDG_CONFIG_HOME/zsh/homebrew.zsh\` to refresh the zsh homebrew config /!\ ")
