#!/bin/bash

# Brewfile_Basics.tmpl hash: {{ include "dot_config/exact_homebrew/Brewfile_Basics.tmpl" | sha256sum }}

echo "----- start: brew-bundle-basics.sh -----"

if [[ -f $HOME/.config/homebrew/Brewfile_Basics ]]; then
    echo "Installing homebrew basics..."
    brew bundle --no-upgrade --file $HOME/.config/homebrew/Brewfile_Basics
    echo "Done installing homebrew basics"
else
    echo "No Brewfile_Basics found, impossible to install homebrew basics"
fi

echo "Generating machine specific Brewfile..."
if [[ -f $HOMEBREW_BUNDLE_FILE ]]; then
    brew bundle dump --force --describe
else
    echo "Impossible to generate Brewfile, HOMEBREW_BUNDLE_FILE isn't set"
fi

echo "Symlinking openjdk@17..."
{{ if eq .chezmoi.os "darwin" }}
if [[ -f "$HOMEBREW_PREFIX/opt/openjdk@17/libexec/openjdk.jdk" ]]; then
    sudo ln -sfn $HOMEBREW_PREFIX/opt/openjdk@17/libexec/openjdk.jdk /Library/Java/JavaVirtualMachines/openjdk-17.jdk
else
    echo "No openjdk@17 found, impossible to symlink it"
fi
{{ else if eq .chezmoi.os "linux" }}
echo "Find out how to symlink openjdk@17 on linux"
chezmoi_warnings+=("/!\ Find out how to symlink openjdk@17 on linux /!\ ")
{{ end }}

echo "----- end: brew-bundle-basics.sh -----"
