#!/bin/bash

echo "----- start: 51-reminder-jenv.sh -----"

echo "Enabling export plugin for jenv..."
jenv enable-plugin export
jenv enable-plugin maven

echo "Adding JDK 17 to jenv..."
{{ if eq .chezmoi.os "darwin" }}
jenv add $HOMEBREW_PREFIX/opt/openjdk@17
{{ else if eq .chezmoi.os "linux" }}
echo "Find the path homebrew installs the openjdk@17"
chezmoi_warnings+=("/!\ Find the path homebrew installs the openjdk@17 /!\ ")
{{ end }}

chezmoi_warnings+=("/!\ Restart shell for jenv to set JAVA_HOME /!\ ")

echo "----- end: 51-reminder-jenv.sh -----"
