#!/bin/bash

# hombrew.zsh hash: {{ include "dot_config/zsh/homebrew.zsh" | sha256sum }}

echo "----- start: reminder-zsh-homebrew-sourcing.sh -----"
echo ""
echo "/!\ Run \`source $XDG_CONFIG_HOME/zsh/homebrew.zsh\` to refresh the zsh homebrew config /!\ "
echo ""
echo "----- end: reminder-zsh-homebrew-sourcing.sh -----"
