tap "homebrew/bundle"

# ---------------------------------------------------------------
# Programming languages
# ---------------------------------------------------------------
# Manage multiple Node.js versions
brew "nvm"
# Manage your Java environment
brew "jenv"
# Development kit for the Java programming language
brew "openjdk@17"
# Rust toolchain installer
brew "rustup-init"
# Package manager for the Lua programming language
brew "luarocks"

# ---------------------------------------------------------------
# Git
# ---------------------------------------------------------------
# Distributed revision control system
brew "git"
# Blazing fast terminal-ui for git written in rust
brew "gitui"
# GitHub command-line tool
brew "gh"
# Defines a standard way of committing rules and communicating it
brew "commitizen"

# ---------------------------------------------------------------
# Chezmoi
# ---------------------------------------------------------------
# LastPass command-line interface tool
brew "lastpass-cli"
# Manage your dotfiles across multiple diverse machines, securely
brew "chezmoi"

# ---------------------------------------------------------------
# VSCode
# ---------------------------------------------------------------
vscode "bfrangi.vscode-nightingale-theme"
vscode "bierner.markdown-mermaid"
vscode "bierner.markdown-preview-github-styles"
vscode "codeium.codeium"
vscode "dbaeumer.vscode-eslint"
vscode "eamodio.gitlens"
vscode "esbenp.prettier-vscode"
vscode "ms-azuretools.vscode-docker"
vscode "pivotal.vscode-boot-dev-pack"
vscode "redhat.java"
vscode "sndst00m.markdown-github-dark-pack"
vscode "steoates.autoimport"
vscode "vmware.vscode-spring-boot"
vscode "vscjava.vscode-java-debug"
vscode "vscjava.vscode-maven"
vscode "vscjava.vscode-spring-boot-dashboard"
vscode "vscjava.vscode-spring-initializr"
vscode "wakatime.vscode-wakatime"
vscode "wix.vscode-import-cost"

# ---------------------------------------------------------------
# Neovim
# ---------------------------------------------------------------
# Ambitious Vim-fork focused on extensibility and agility
brew "neovim"
# Search tool like grep and The Silver Searcher
brew "ripgrep"

# ---------------------------------------------------------------
# Lazy Suite
# ---------------------------------------------------------------
# A simple terminal UI for docker, written in Go
tap "jesseduffield/lazydocker"
brew "jesseduffield/lazydocker/lazydocker"
# A simple terminal UI for git commands, written in Go
tap "jesseduffield/lazynpm"
brew "jesseduffield/lazynpm/lazynpm"
# Simple terminal UI for git commands
brew "lazygit"

# ---------------------------------------------------------------
# Daily tools
# ---------------------------------------------------------------
# Simple, fast and user-friendly alternative to find
brew "fd"
# Simplified and community-driven man pages
brew "tldr"
# Upgrade all the things
brew "topgrade"
# Yet another cross-platform graphical process/system monitor
brew "bottom"

# ---------------------------------------------------------------
# Shell
# ---------------------------------------------------------------
{{- if not (contains "zsh" (env "SHELL")) }}
# UNIX shell (command interpreter)
brew "zsh"
{{ end -}}

tap "homebrew/command-not-found"
# Fish-like fast/unobtrusive autosuggestions for zsh
brew "zsh-autosuggestions"
# Fish shell like syntax highlighting for zsh
brew "zsh-syntax-highlighting"
# Better and friendly vi(vim) mode plugin for ZSH
brew "zsh-vi-mode"
# Modern, maintained replacement for ls
brew "eza"
# Shell extension to navigate your filesystem faster
brew "zoxide"
# Cross-shell prompt for astronauts
brew "starship"
# Clone of cat(1) with syntax highlighting and Git integration
brew "bat"

# ---------------------------------------------------------------
# Misc
# ---------------------------------------------------------------
# Internet file retriever
brew "wget"
# Official Amazon AWS command-line interface
brew "awscli"
# Curses-based tool for viewing and analyzing log files
brew "lnav"
# Terminal file manager
brew "lf"
# Resource monitor. C++ version and continuation of bashtop and bpytop
brew "btop"
# Like neofetch, but much faster because written mostly in C
brew "fastfetch"

{{ if eq .chezmoi.os "darwin" }}
# MacOS
# ---------------------------------------------------------------
tap "buo/cask-upgrade"
# Automatic tiling window manager similar to xmonad
cask "amethyst"
# Tool to flash OS images to SD cards & USB drives
cask "balenaetcher"
# Developer targeted fonts with a high number of glyphs
tap "homebrew/cask-fonts"
cask "font-hack-nerd-font"
# Web browser
cask "google-chrome"
# Keyboard customizer
cask "karabiner-elements"
# Snippet management app
cask "lepton"
# Web browser
cask "microsoft-edge"
# Knowledge base that works on top of a local folder of plain text Markdown files
cask "obsidian"
# Collaboration platform for API development
cask "postman"
# Team communication and collaboration software
cask "slack"
# Open-source code editor
cask "visual-studio-code"
# GPU-accelerated cross-platform terminal emulator and multiplexer
cask "wezterm"
# Open-source version of the X.Org X Window System
cask "xquartz"
# Web browser focusing on privacy
cask "brave-browser"
# Tool to remove unnecessary files and folders from disk
cask "cleanmymac"
# Mac App Store command-line interface
brew "mas"
mas "Numbers", id: 409203825
{{ end -}}
